# Core dependencies
Flask
Flask-Cors
python-dotenv
gunicorn
Flask-socketio


# Database and storage
appwrite
pymongo
redis

# Authentication
PyJWT
bcrypt

# Utilities
requests
validators
pyotp
cryptography
qrcode

# For GhostGuard content moderation
pandas
scikit-learn
nltk
spacy
transformers
torch
